extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        
        h1= about.name

        
        p= about.person_title


        .about-bio

          
          p= about.bio
          
          p= about.bio_2

          img.coding-img(src=`static/img/${about.header_img}`, alt='Stefan Caky')

          p= about.context
      .skills-contact-box.box
        h6 Skills

        
        ul
        
          each skill in about.skills 
            li.skills(style=`background: linear-gradient(90deg, #000000 0%, #FFFF 0%)`, data-skills= `${Object.values(skill)}`)= Object.keys(skill)
            

        h6 Contact Info

        
        ul
          li(style="color: black;") stefancoding7@gmail.com

        
        a.btn-link(href='https://www.linkedin.com/in/stefan-caky-89957113a/', target="_blank") LinkedIn
        a.btn-link(href='https://github.com/stefancoding7', target="_blank") GitHub
        a.btn-link(href='https://www.codester.com/StefanCoding/', target="_blank") Codester

    nav.nav
      a(href='/')
        span &larr;
        |  Back