extends layout.pug

block content
  
  nav.nav
    a(href='/')
      span &larr;
      |  Back
  
  article.portfolio-projects
    .inner-wrapper.flex-row-wrap.two-col
      .project-info-box.box

       
        h1= data.project_name
        
        p= data.description
        if data.login 
          p= data.login
          p Username: superadministrator@app.com
          p Password: password
      .project-tech-links-box.box

        h6 Technologies
        ul

         
          each technologi in data.technologies
            li= technologi

        
        a.btn-link(href=data.live_link, target="_blank") Live Demo
        if data.admin_panel
          a.btn-link(href=data.admin_panel, target="_blank") Admin Panel
        else
          a.btn-link(href=data.github_link, target="_blank") GitHub Repo

    .project-img-box.box

      
      each photo in data.image_urls[1]
        img.project-img(src=`/static/img/screen_shots/landscape/${photo}`, alt='')
      

    nav.nav
      a(href='/')
        span &larr;
        |  Back
